# Scraping with Pandas

In [7]:
import pandas as pd

We can use the `read_html` function in Pandas to automatically scrape any tabular data from a page.

In [8]:
url = 'http://queimadas.dgi.inpe.br/queimadas/portal-static/grafico_historico_pais_brasil.html?_=09141909'

In [23]:
tables = pd.read_html(url, header=[1])
tables

[        Ano Unnamed: 1 Unnamed: 2 Unnamed: 3 Unnamed: 4 Unnamed: 5  \
 0      1998          -          -          -          -          -
 1      1999       1081       1284        667        717       1811
 2      2000        778        562        848        538       2097
 3      2001        547       1060       1267       1081       2090
 4      2002       1653       1569       1678       1683       3816
 5      2003       6697       3100       3549       3643       6448
 6      2004       3883       1932       2928       2956       6609
 7      2005       7058       2898       2529       2743       5075
 8      2006       4532       2388       2427       2269       4313
 9      2007       4220       2761       3340       2550       5123
 10     2008       2777       1751       1887       1906       2951
 11     2009       3874       1396       2004       2290       3138
 12     2010       3683       2909       2863       2681       4196
 13     2011       1889       1128       1266       1617       2625
 14     2012       2978       1731       2510       2507       3987
 15     2013       2544       1716       2284       1891       2844
 16     2014       3045       1374       1929       2024       2931
 17     2015       4317       2026       1659       2024       2169
 18     2016       5960       3238       3425       3408       3287
 19     2017       2253       1239       1922       1703       2571
 20     2018       2553       1476       2659       1656       3366
 21     2019       4030       2865       5213       2842       2963
 22  Máximo*       7058       3238       3549       3643       6609
 23   Média*       3316       1877       2182       2094       3572
 24  Mínimo*        547        562        667        538       1811

     Unnamed: 6  Unnamed: 7  Unnamed: 8  Unnamed: 9 Unnamed: 10 Unnamed: 11  \
 0         3551        8067       35551       41976       23499        6804
 1         3632        8758       39492       36914       27017        8863
 2         6274        4740       22204       23293       27332        8399
 3         8405        6488       31838       39829       31039       15640
 4        10845       18080       72412       93417       59258       39913
 5        16752       30391       57004       97758       57495       35422
 6        18024       30356       64067      121395       54292       45364
 7         7854       30238       90729      102455       65023       31631
 8         7601       17788       54630       76475       32043       29303
 9        12716       19931       91085      141220       67228       31421
 10        4594       14029       34431       50671       51784       30724
 11        3795        7824       21782       36116       31215       29396
 12        9895       21030       90444      109030       38842       24052
 13        5627        9768       23881       55031       23340       18541
 14        6830       14868       50926       63408       39860       18114
 15        4665        8794       21410       36019       22159       11955
 16        6212       10529       40845       42049       36572       17667
 17        5569        8541       37883       61739       46741       26411
 18        6185       19242       39088       42209       30809       19160
 19        5384       17568       37380       72895       33607       19334
 20        5790       12652       22774       42251       19568       13014
 21        7258       13394       51936       38639           -           -
 22       18024       30391       91085      141220       67228       45364
 23        7629       15223       46660       66007       38987       22911
 24        3551        4740       21410       23293       19568        6804

    Unnamed: 12  Unnamed: 13
 0         4448       123896
 1         4376       134612
 2         4465       101530
 3         6200       145484
 4        17092       321416
 5        22980       341239
 6        28640       380446
 7        14333       362566
 8        15415       249184
 9        12320       393915
 10       14428       211933
 11       12274       155104
 12        9761       319386
 13       13389       158102
 14        9519       217238
 15       11868       128149
 16       10723       175900
 17       17703       216782
 18        8207       184218
 19       11655       207511
 20        5113       132872
 21           -       129140
 22       28640       393915
 23       12139       221975
 24        4376       101530  ]

What we get in return is a list of dataframes for any tabular data that Pandas found.

In [24]:
type(tables)

list

We can slice off any of those dataframes that we want using normal indexing.

In [26]:
df = tables[0] 
df

,Ano,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
0,1998,-,-,-,-,-,3551,8067,35551,41976,23499,6804,4448,123896
1,1999,1081,1284,667,717,1811,3632,8758,39492,36914,27017,8863,4376,134612
2,2000,778,562,848,538,2097,6274,4740,22204,23293,27332,8399,4465,101530
3,2001,547,1060,1267,1081,2090,8405,6488,31838,39829,31039,15640,6200,145484
4,2002,1653,1569,1678,1683,3816,10845,18080,72412,93417,59258,39913,17092,321416
5,2003,6697,3100,3549,3643,6448,16752,30391,57004,97758,57495,35422,22980,341239
6,2004,3883,1932,2928,2956,6609,18024,30356,64067,121395,54292,45364,28640,380446
7,2005,7058,2898,2529,2743,5075,7854,30238,90729,102455,65023,31631,14333,362566
8,2006,4532,2388,2427,2269,4313,7601,17788,54630,76475,32043,29303,15415,249184
9,2007,4220,2761,3340,2550,5123,12716,19931,91085,141220,67228,31421,12320,393915
10,2008,2777,1751,1887,1906,2951,4594,14029,34431,50671,51784,30724,14428,211933
11,2009,3874,1396,2004,2290,3138,3795,7824,21782,36116,31215,29396,12274,155104
12,2010,3683,2909,2863,2681,4196,9895,21030,90444,109030,38842,24052,9761,319386
13,2011,1889,1128,1266,1617,2625,5627,9768,23881,55031,23340,18541,13389,158102
14,2012,2978,1731,2510,2507,3987,6830,14868,50926,63408,39860,18114,9519,217238
15,2013,2544,1716,2284,1891,2844,4665,8794,21410,36019,22159,11955,11868,128149
16,2014,3045,1374,1929,2024,2931,6212,10529,40845,42049,36572,17667,10723,175900
17,2015,4317,2026,1659,2024,2169,5569,8541,37883,61739,46741,26411,17703,216782
18,2016,5960,3238,3425,3408,3287,6185,19242,39088,42209,30809,19160,8207,184218
19,2017,2253,1239,1922,1703,2571,5384,17568,37380,72895,33607,19334,11655,207511
20,2018,2553,1476,2659,1656,3366,5790,12652,22774,42251,19568,13014,5113,132872
21,2019,4030,2865,5213,2842,2963,7258,13394,51936,38639,-,-,-,129140
22,Máximo*,7058,3238,3549,3643,6609,18024,30391,91085,141220,67228,45364,28640,393915
23,Média*,3316,1877,2182,2094,3572,7629,15223,46660,66007,38987,22911,12139,221975
24,Mínimo*,547,562,667,538,1811,3551,4740,21410,23293,19568,6804,4376,101530

Rename column names to english

In [29]:
df = df.rename(columns={ "Ano": "YEAR",  "Unnamed: 1": "JAN", "Unnamed: 2": "FEB",
                   "Unnamed: 3": "MAR", "Unnamed: 4": "APR",
                   "Unnamed: 5": "MAY", "Unnamed: 6": "JUN",
                   "Unnamed: 7": "JUL", "Unnamed: 8": "AUG",
                   "Unnamed: 9": "SEP", "Unnamed: 10": "OCT",
                    "Unnamed: 11": "NOV", "Unnamed: 12": "DEC", "Unnamed: 13": "Total"
                  })

Set the index to the `State` column

In [30]:
df

,YEAR,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC,Total
0,1998,-,-,-,-,-,3551,8067,35551,41976,23499,6804,4448,123896
1,1999,1081,1284,667,717,1811,3632,8758,39492,36914,27017,8863,4376,134612
2,2000,778,562,848,538,2097,6274,4740,22204,23293,27332,8399,4465,101530
3,2001,547,1060,1267,1081,2090,8405,6488,31838,39829,31039,15640,6200,145484
4,2002,1653,1569,1678,1683,3816,10845,18080,72412,93417,59258,39913,17092,321416
5,2003,6697,3100,3549,3643,6448,16752,30391,57004,97758,57495,35422,22980,341239
6,2004,3883,1932,2928,2956,6609,18024,30356,64067,121395,54292,45364,28640,380446
7,2005,7058,2898,2529,2743,5075,7854,30238,90729,102455,65023,31631,14333,362566
8,2006,4532,2388,2427,2269,4313,7601,17788,54630,76475,32043,29303,15415,249184
9,2007,4220,2761,3340,2550,5123,12716,19931,91085,141220,67228,31421,12320,393915
10,2008,2777,1751,1887,1906,2951,4594,14029,34431,50671,51784,30724,14428,211933
11,2009,3874,1396,2004,2290,3138,3795,7824,21782,36116,31215,29396,12274,155104
12,2010,3683,2909,2863,2681,4196,9895,21030,90444,109030,38842,24052,9761,319386
13,2011,1889,1128,1266,1617,2625,5627,9768,23881,55031,23340,18541,13389,158102
14,2012,2978,1731,2510,2507,3987,6830,14868,50926,63408,39860,18114,9519,217238
15,2013,2544,1716,2284,1891,2844,4665,8794,21410,36019,22159,11955,11868,128149
16,2014,3045,1374,1929,2024,2931,6212,10529,40845,42049,36572,17667,10723,175900
17,2015,4317,2026,1659,2024,2169,5569,8541,37883,61739,46741,26411,17703,216782
18,2016,5960,3238,3425,3408,3287,6185,19242,39088,42209,30809,19160,8207,184218
19,2017,2253,1239,1922,1703,2571,5384,17568,37380,72895,33607,19334,11655,207511
20,2018,2553,1476,2659,1656,3366,5790,12652,22774,42251,19568,13014,5113,132872
21,2019,4030,2865,5213,2842,2963,7258,13394,51936,38639,-,-,-,129140
22,Máximo*,7058,3238,3549,3643,6609,18024,30391,91085,141220,67228,45364,28640,393915
23,Média*,3316,1877,2182,2094,3572,7629,15223,46660,66007,38987,22911,12139,221975
24,Mínimo*,547,562,667,538,1811,3551,4740,21410,23293,19568,6804,4376,101530

In [34]:
df.at[22, 'YEAR']= 'MAX VALUE'
df.at[23, 'YEAR']= 'AVG VALUE'
df.at[24, 'YEAR']= 'MIN VALUE'
df

,YEAR,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC,Total
0,1998,-,-,-,-,-,3551,8067,35551,41976,23499,6804,4448,123896
1,1999,1081,1284,667,717,1811,3632,8758,39492,36914,27017,8863,4376,134612
2,2000,778,562,848,538,2097,6274,4740,22204,23293,27332,8399,4465,101530
3,2001,547,1060,1267,1081,2090,8405,6488,31838,39829,31039,15640,6200,145484
4,2002,1653,1569,1678,1683,3816,10845,18080,72412,93417,59258,39913,17092,321416
5,2003,6697,3100,3549,3643,6448,16752,30391,57004,97758,57495,35422,22980,341239
6,2004,3883,1932,2928,2956,6609,18024,30356,64067,121395,54292,45364,28640,380446
7,2005,7058,2898,2529,2743,5075,7854,30238,90729,102455,65023,31631,14333,362566
8,2006,4532,2388,2427,2269,4313,7601,17788,54630,76475,32043,29303,15415,249184
9,2007,4220,2761,3340,2550,5123,12716,19931,91085,141220,67228,31421,12320,393915
10,2008,2777,1751,1887,1906,2951,4594,14029,34431,50671,51784,30724,14428,211933
11,2009,3874,1396,2004,2290,3138,3795,7824,21782,36116,31215,29396,12274,155104
12,2010,3683,2909,2863,2681,4196,9895,21030,90444,109030,38842,24052,9761,319386
13,2011,1889,1128,1266,1617,2625,5627,9768,23881,55031,23340,18541,13389,158102
14,2012,2978,1731,2510,2507,3987,6830,14868,50926,63408,39860,18114,9519,217238
15,2013,2544,1716,2284,1891,2844,4665,8794,21410,36019,22159,11955,11868,128149
16,2014,3045,1374,1929,2024,2931,6212,10529,40845,42049,36572,17667,10723,175900
17,2015,4317,2026,1659,2024,2169,5569,8541,37883,61739,46741,26411,17703,216782
18,2016,5960,3238,3425,3408,3287,6185,19242,39088,42209,30809,19160,8207,184218
19,2017,2253,1239,1922,1703,2571,5384,17568,37380,72895,33607,19334,11655,207511
20,2018,2553,1476,2659,1656,3366,5790,12652,22774,42251,19568,13014,5113,132872
21,2019,4030,2865,5213,2842,2963,7258,13394,51936,38639,-,-,-,129140
22,MAX VALUE,7058,3238,3549,3643,6609,18024,30391,91085,141220,67228,45364,28640,393915
23,AVG VALUE,3316,1877,2182,2094,3572,7629,15223,46660,66007,38987,22911,12139,221975
24,MIN VALUE,547,562,667,538,1811,3551,4740,21410,23293,19568,6804,4376,101530

## DataFrames as HTML

Pandas also had a `to_html` method that we can use to generate HTML tables from DataFrames.

In [35]:
html_table = df.to_html()
html_table

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>YEAR</th>\n      <th>JAN</th>\n      <th>FEB</th>\n      <th>MAR</th>\n      <th>APR</th>\n      <th>MAY</th>\n      <th>JUN</th>\n      <th>JUL</th>\n      <th>AUG</th>\n      <th>SEP</th>\n      <th>OCT</th>\n      <th>NOV</th>\n      <th>DEC</th>\n      <th>Total</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>0</th>\n      <td>1998</td>\n      <td>-</td>\n      <td>-</td>\n      <td>-</td>\n      <td>-</td>\n      <td>-</td>\n      <td>3551</td>\n      <td>8067</td>\n      <td>35551</td>\n      <td>41976</td>\n      <td>23499</td>\n      <td>6804</td>\n      <td>4448</td>\n      <td>123896</td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>1999</td>\n      <td>1081</td>\n      <td>1284</td>\n      <td>667</td>\n      <td>717</td>\n      <td>1811</td>\n      <td>3632</td>\n      <td>8758</td>\n      <td>39492</td>\n      <td>36914</td>\n      <td>27017</td>\n      <td>8863</td>\n      <td>4376</td>\n      <td>134612</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>2000</td>\n      <td>778</td>\n      <td>562</td>\n      <td>848</td>\n      <td>538</td>\n      <td>2097</td>\n      <td>6274</td>\n      <td>4740</td>\n      <td>22204</td>\n      <td>23293</td>\n      <td>27332</td>\n      <td>8399</td>\n      <td>4465</td>\n      <td>101530</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>2001</td>\n      <td>547</td>\n      <td>1060</td>\n      <td>1267</td>\n      <td>1081</td>\n      <td>2090</td>\n      <td>8405</td>\n      <td>6488</td>\n      <td>31838</td>\n      <td>39829</td>\n      <td>31039</td>\n      <td>15640</td>\n      <td>6200</td>\n      <td>145484</td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td>2002</td>\n      <td>1653</td>\n      <td>1569</td>\n      <td>1678</td>\n      <td>1683</td>\n      <td>3816</td>\n      <td>10845</td>\n      <td>18080</td>\n      <td>72412</td>\n      <td>93417</td>\n      <td>59258</td>\n      <td>39913</td>\n      <td>17092</td>\n      <td>321416</td>\n    </tr>\n    <tr>\n      <th>5</th>\n      <td>2003</td>\n      <td>6697</td>\n      <td>3100</td>\n      <td>3549</td>\n      <td>3643</td>\n      <td>6448</td>\n      <td>16752</td>\n      <td>30391</td>\n      <td>57004</td>\n      <td>97758</td>\n      <td>57495</td>\n      <td>35422</td>\n      <td>22980</td>\n      <td>341239</td>\n    </tr>\n    <tr>\n      <th>6</th>\n      <td>2004</td>\n      <td>3883</td>\n      <td>1932</td>\n      <td>2928</td>\n      <td>2956</td>\n      <td>6609</td>\n      <td>18024</td>\n      <td>30356</td>\n      <td>64067</td>\n      <td>121395</td>\n      <td>54292</td>\n      <td>45364</td>\n      <td>28640</td>\n      <td>380446</td>\n    </tr>\n    <tr>\n      <th>7</th>\n      <td>2005</td>\n      <td>7058</td>\n      <td>2898</td>\n      <td>2529</td>\n      <td>2743</td>\n      <td>5075</td>\n      <td>7854</td>\n      <td>30238</td>\n      <td>90729</td>\n      <td>102455</td>\n      <td>65023</td>\n      <td>31631</td>\n      <td>14333</td>\n      <td>362566</td>\n    </tr>\n    <tr>\n      <th>8</th>\n      <td>2006</td>\n      <td>4532</td>\n      <td>2388</td>\n      <td>2427</td>\n      <td>2269</td>\n      <td>4313</td>\n      <td>7601</td>\n      <td>17788</td>\n      <td>54630</td>\n      <td>76475</td>\n      <td>32043</td>\n      <td>29303</td>\n      <td>15415</td>\n      <td>249184</td>\n    </tr>\n    <tr>\n      <th>9</th>\n      <td>2007</td>\n      <td>4220</td>\n      <td>2761</td>\n      <td>3340</td>\n      <td>2550</td>\n      <td>5123</td>\n      <td>12716</td>\n      <td>19931</td>\n      <td>91085</td>\n      <td>141220</td>\n      <td>67228</td>\n      <td>31421</td>\n      <td>12320</td>\n      <td>393915</td>\n    </tr>\n    <tr>\n      <th>10</th>\n      <td>2008</td>\n      <td>2777</td>\n      <td>1751</td>\n      <td>1887</td>\n      <td>1906</td>\n      <td>2951</td>\n      <td>4594</td>\n      <td>14029</td>\n      <td>34431</td>\n      <td>50671</td>\n      <td>51784</td>\n      <td>30724</td>\n      <td>14428</td>\n      <td>211933</td>\n    </tr>\n    <tr>\n      <th>11</th>\n      <td>2009</td>\n      <td>3874</td>\n      <td>1396</td>\n      <td>2004</td>\n      <td>2290</td>\n      <td>3138</td>\n      <td>3795</td>\n      <td>7824</td>\n      <td>21782</td>\n      <td>36116</td>\n      <td>31215</td>\n      <td>29396</td>\n      <td>12274</td>\n      <td>155104</td>\n    </tr>\n    <tr>\n      <th>12</th>\n      <td>2010</td>\n      <td>3683</td>\n      <td>2909</td>\n      <td>2863</td>\n      <td>2681</td>\n      <td>4196</td>\n      <td>9895</td>\n      <td>21030</td>\n      <td>90444</td>\n      <td>109030</td>\n      <td>38842</td>\n      <td>24052</td>\n      <td>9761</td>\n      <td>319386</td>\n    </tr>\n    <tr>\n      <th>13</th>\n      <td>2011</td>\n      <td>1889</td>\n      <td>1128</td>\n      <td>1266</td>\n      <td>1617</td>\n      <td>2625</td>\n      <td>5627</td>\n      <td>9768</td>\n      <td>23881</td>\n      <td>55031</td>\n      <td>23340</td>\n      <td>18541</td>\n      <td>13389</td>\n      <td>158102</td>\n    </tr>\n    <tr>\n      <th>14</th>\n      <td>2012</td>\n      <td>2978</td>\n      <td>1731</td>\n      <td>2510</td>\n      <td>2507</td>\n      <td>3987</td>\n      <td>6830</td>\n      <td>14868</td>\n      <td>50926</td>\n      <td>63408</td>\n      <td>39860</td>\n      <td>18114</td>\n      <td>9519</td>\n      <td>217238</td>\n    </tr>\n    <tr>\n      <th>15</th>\n      <td>2013</td>\n      <td>2544</td>\n      <td>1716</td>\n      <td>2284</td>\n      <td>1891</td>\n      <td>2844</td>\n      <td>4665</td>\n      <td>8794</td>\n      <td>21410</td>\n      <td>36019</td>\n      <td>22159</td>\n      <td>11955</td>\n      <td>11868</td>\n      <td>128149</td>\n    </tr>\n    <tr>\n      <th>16</th>\n      <td>2014</td>\n      <td>3045</td>\n      <td>1374</td>\n      <td>1929</td>\n      <td>2024</td>\n      <td>2931</td>\n      <td>6212</td>\n      <td>10529</td>\n      <td>40845</td>\n      <td>42049</td>\n      <td>36572</td>\n      <td>17667</td>\n      <td>10723</td>\n      <td>175900</td>\n    </tr>\n    <tr>\n      <th>17</th>\n      <td>2015</td>\n      <td>4317</td>\n      <td>2026</td>\n      <td>1659</td>\n      <td>2024</td>\n      <td>2169</td>\n      <td>5569</td>\n      <td>8541</td>\n      <td>37883</td>\n      <td>61739</td>\n      <td>46741</td>\n      <td>26411</td>\n      <td>17703</td>\n      <td>216782</td>\n    </tr>\n    <tr>\n      <th>18</th>\n      <td>2016</td>\n      <td>5960</td>\n      <td>3238</td>\n      <td>3425</td>\n      <td>3408</td>\n      <td>3287</td>\n      <td>6185</td>\n      <td>19242</td>\n      <td>39088</td>\n      <td>42209</td>\n      <td>30809</td>\n      <td>19160</td>\n      <td>8207</td>\n      <td>184218</td>\n    </tr>\n    <tr>\n      <th>19</th>\n      <td>2017</td>\n      <td>2253</td>\n      <td>1239</td>\n      <td>1922</td>\n      <td>1703</td>\n      <td>2571</td>\n      <td>5384</td>\n      <td>17568</td>\n      <td>37380</td>\n      <td>72895</td>\n      <td>33607</td>\n      <td>19334</td>\n      <td>11655</td>\n      <td>207511</td>\n    </tr>\n    <tr>\n      <th>20</th>\n      <td>2018</td>\n      <td>2553</td>\n      <td>1476</td>\n      <td>2659</td>\n      <td>1656</td>\n      <td>3366</td>\n      <td>5790</td>\n      <td>12652</td>\n      <td>22774</td>\n      <td>42251</td>\n      <td>19568</td>\n      <td>13014</td>\n      <td>5113</td>\n      <td>132872</td>\n    </tr>\n    <tr>\n      <th>21</th>\n      <td>2019</td>\n      <td>4030</td>\n      <td>2865</td>\n      <td>5213</td>\n      <td>2842</td>\n      <td>2963</td>\n      <td>7258</td>\n      <td>13394</td>\n      <td>51936</td>\n      <td>38639</td>\n      <td>-</td>\n      <td>-</td>\n      <td>-</td>\n      <td>129140</td>\n    </tr>\n    <tr>\n      <th>22</th>\n      <td>MAX VALUE</td>\n      <td>7058</td>\n      <td>3238</td>\n      <td>3549</td>\n      <td>3643</td>\n      <td>6609</td>\n      <td>18024</td>\n      <td>30391</td>\n      <td>91085</td>\n      <td>141220</td>\n      <td>67228</td>\n      <td>45364</td>\n      <td>28640</td>\n      <td>393915</td>\n    </tr>\n    <tr>\n      <th>23</th>\n      <td>AVG VALUE</td>\n      <td>3316</td>\n      <td>1877</td>\n      <td>2182</td>\n      <td>2094</td>\n      <td>3572</td>\n      <td>7629</td>\n      <td>15223</td>\n      <td>46660</td>\n      <td>66007</td>\n      <td>38987</td>\n      <td>22911</td>\n      <td>12139</td>\n      <td>221975</td>\n    </tr>\n    <tr>\n      <th>24</th>\n      <td>MIN VALUE</td>\n      <td>547</td>\n      <td>562</td>\n      <td>667</td>\n      <td>538</td>\n      <td>1811</td>\n      <td>3551</td>\n      <td>4740</td>\n      <td>21410</td>\n      <td>23293</td>\n      <td>19568</td>\n      <td>6804</td>\n      <td>4376</td>\n      <td>101530</td>\n    </tr>\n  </tbody>\n</table>'

You may have to strip unwanted newlines to clean up the table.

In [36]:
html_table.replace('\n', '')

'<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th></th>      <th>YEAR</th>      <th>JAN</th>      <th>FEB</th>      <th>MAR</th>      <th>APR</th>      <th>MAY</th>      <th>JUN</th>      <th>JUL</th>      <th>AUG</th>      <th>SEP</th>      <th>OCT</th>      <th>NOV</th>      <th>DEC</th>      <th>Total</th>    </tr>  </thead>  <tbody>    <tr>      <th>0</th>      <td>1998</td>      <td>-</td>      <td>-</td>      <td>-</td>      <td>-</td>      <td>-</td>      <td>3551</td>      <td>8067</td>      <td>35551</td>      <td>41976</td>      <td>23499</td>      <td>6804</td>      <td>4448</td>      <td>123896</td>    </tr>    <tr>      <th>1</th>      <td>1999</td>      <td>1081</td>      <td>1284</td>      <td>667</td>      <td>717</td>      <td>1811</td>      <td>3632</td>      <td>8758</td>      <td>39492</td>      <td>36914</td>      <td>27017</td>      <td>8863</td>      <td>4376</td>      <td>134612</td>    </tr>    <tr>      <th>2</th>      <td>2000</td>      <td>778</td>      <td>562</td>      <td>848</td>      <td>538</td>      <td>2097</td>      <td>6274</td>      <td>4740</td>      <td>22204</td>      <td>23293</td>      <td>27332</td>      <td>8399</td>      <td>4465</td>      <td>101530</td>    </tr>    <tr>      <th>3</th>      <td>2001</td>      <td>547</td>      <td>1060</td>      <td>1267</td>      <td>1081</td>      <td>2090</td>      <td>8405</td>      <td>6488</td>      <td>31838</td>      <td>39829</td>      <td>31039</td>      <td>15640</td>      <td>6200</td>      <td>145484</td>    </tr>    <tr>      <th>4</th>      <td>2002</td>      <td>1653</td>      <td>1569</td>      <td>1678</td>      <td>1683</td>      <td>3816</td>      <td>10845</td>      <td>18080</td>      <td>72412</td>      <td>93417</td>      <td>59258</td>      <td>39913</td>      <td>17092</td>      <td>321416</td>    </tr>    <tr>      <th>5</th>      <td>2003</td>      <td>6697</td>      <td>3100</td>      <td>3549</td>      <td>3643</td>      <td>6448</td>      <td>16752</td>      <td>30391</td>      <td>57004</td>      <td>97758</td>      <td>57495</td>      <td>35422</td>      <td>22980</td>      <td>341239</td>    </tr>    <tr>      <th>6</th>      <td>2004</td>      <td>3883</td>      <td>1932</td>      <td>2928</td>      <td>2956</td>      <td>6609</td>      <td>18024</td>      <td>30356</td>      <td>64067</td>      <td>121395</td>      <td>54292</td>      <td>45364</td>      <td>28640</td>      <td>380446</td>    </tr>    <tr>      <th>7</th>      <td>2005</td>      <td>7058</td>      <td>2898</td>      <td>2529</td>      <td>2743</td>      <td>5075</td>      <td>7854</td>      <td>30238</td>      <td>90729</td>      <td>102455</td>      <td>65023</td>      <td>31631</td>      <td>14333</td>      <td>362566</td>    </tr>    <tr>      <th>8</th>      <td>2006</td>      <td>4532</td>      <td>2388</td>      <td>2427</td>      <td>2269</td>      <td>4313</td>      <td>7601</td>      <td>17788</td>      <td>54630</td>      <td>76475</td>      <td>32043</td>      <td>29303</td>      <td>15415</td>      <td>249184</td>    </tr>    <tr>      <th>9</th>      <td>2007</td>      <td>4220</td>      <td>2761</td>      <td>3340</td>      <td>2550</td>      <td>5123</td>      <td>12716</td>      <td>19931</td>      <td>91085</td>      <td>141220</td>      <td>67228</td>      <td>31421</td>      <td>12320</td>      <td>393915</td>    </tr>    <tr>      <th>10</th>      <td>2008</td>      <td>2777</td>      <td>1751</td>      <td>1887</td>      <td>1906</td>      <td>2951</td>      <td>4594</td>      <td>14029</td>      <td>34431</td>      <td>50671</td>      <td>51784</td>      <td>30724</td>      <td>14428</td>      <td>211933</td>    </tr>    <tr>      <th>11</th>      <td>2009</td>      <td>3874</td>      <td>1396</td>      <td>2004</td>      <td>2290</td>      <td>3138</td>      <td>3795</td>      <td>7824</td>      <td>21782</td>      <td>36116</td>      <td>31215</td>      <td>29396</td>      <td>12274</td>      <td>155104</td>    </tr>    <tr>      <th>12</th>      <td>2010</td>      <td>3683</td>      <td>2909</td>      <td>2863</td>      <td>2681</td>      <td>4196</td>      <td>9895</td>      <td>21030</td>      <td>90444</td>      <td>109030</td>      <td>38842</td>      <td>24052</td>      <td>9761</td>      <td>319386</td>    </tr>    <tr>      <th>13</th>      <td>2011</td>      <td>1889</td>      <td>1128</td>      <td>1266</td>      <td>1617</td>      <td>2625</td>      <td>5627</td>      <td>9768</td>      <td>23881</td>      <td>55031</td>      <td>23340</td>      <td>18541</td>      <td>13389</td>      <td>158102</td>    </tr>    <tr>      <th>14</th>      <td>2012</td>      <td>2978</td>      <td>1731</td>      <td>2510</td>      <td>2507</td>      <td>3987</td>      <td>6830</td>      <td>14868</td>      <td>50926</td>      <td>63408</td>      <td>39860</td>      <td>18114</td>      <td>9519</td>      <td>217238</td>    </tr>    <tr>      <th>15</th>      <td>2013</td>      <td>2544</td>      <td>1716</td>      <td>2284</td>      <td>1891</td>      <td>2844</td>      <td>4665</td>      <td>8794</td>      <td>21410</td>      <td>36019</td>      <td>22159</td>      <td>11955</td>      <td>11868</td>      <td>128149</td>    </tr>    <tr>      <th>16</th>      <td>2014</td>      <td>3045</td>      <td>1374</td>      <td>1929</td>      <td>2024</td>      <td>2931</td>      <td>6212</td>      <td>10529</td>      <td>40845</td>      <td>42049</td>      <td>36572</td>      <td>17667</td>      <td>10723</td>      <td>175900</td>    </tr>    <tr>      <th>17</th>      <td>2015</td>      <td>4317</td>      <td>2026</td>      <td>1659</td>      <td>2024</td>      <td>2169</td>      <td>5569</td>      <td>8541</td>      <td>37883</td>      <td>61739</td>      <td>46741</td>      <td>26411</td>      <td>17703</td>      <td>216782</td>    </tr>    <tr>      <th>18</th>      <td>2016</td>      <td>5960</td>      <td>3238</td>      <td>3425</td>      <td>3408</td>      <td>3287</td>      <td>6185</td>      <td>19242</td>      <td>39088</td>      <td>42209</td>      <td>30809</td>      <td>19160</td>      <td>8207</td>      <td>184218</td>    </tr>    <tr>      <th>19</th>      <td>2017</td>      <td>2253</td>      <td>1239</td>      <td>1922</td>      <td>1703</td>      <td>2571</td>      <td>5384</td>      <td>17568</td>      <td>37380</td>      <td>72895</td>      <td>33607</td>      <td>19334</td>      <td>11655</td>      <td>207511</td>    </tr>    <tr>      <th>20</th>      <td>2018</td>      <td>2553</td>      <td>1476</td>      <td>2659</td>      <td>1656</td>      <td>3366</td>      <td>5790</td>      <td>12652</td>      <td>22774</td>      <td>42251</td>      <td>19568</td>      <td>13014</td>      <td>5113</td>      <td>132872</td>    </tr>    <tr>      <th>21</th>      <td>2019</td>      <td>4030</td>      <td>2865</td>      <td>5213</td>      <td>2842</td>      <td>2963</td>      <td>7258</td>      <td>13394</td>      <td>51936</td>      <td>38639</td>      <td>-</td>      <td>-</td>      <td>-</td>      <td>129140</td>    </tr>    <tr>      <th>22</th>      <td>MAX VALUE</td>      <td>7058</td>      <td>3238</td>      <td>3549</td>      <td>3643</td>      <td>6609</td>      <td>18024</td>      <td>30391</td>      <td>91085</td>      <td>141220</td>      <td>67228</td>      <td>45364</td>      <td>28640</td>      <td>393915</td>    </tr>    <tr>      <th>23</th>      <td>AVG VALUE</td>      <td>3316</td>      <td>1877</td>      <td>2182</td>      <td>2094</td>      <td>3572</td>      <td>7629</td>      <td>15223</td>      <td>46660</td>      <td>66007</td>      <td>38987</td>      <td>22911</td>      <td>12139</td>      <td>221975</td>    </tr>    <tr>      <th>24</th>      <td>MIN VALUE</td>      <td>547</td>      <td>562</td>      <td>667</td>      <td>538</td>      <td>1811</td>      <td>3551</td>      <td>4740</td>      <td>21410</td>      <td>23293</td>      <td>19568</td>      <td>6804</td>      <td>4376</td>      <td>101530</td>    </tr>  </tbody></table>'

You can also save the table directly to a file.

In [37]:
df.to_html('yearly_fire_table.html')

In [12]:
# OSX Users can run this to open the file in a browser, 
# or you can manually find the file and open it in the browser
# !open table.html